.row {
  margin: 0
}

.header-section div {
  color: white;
  text-align: center;
}

ngb-carousel {
  margin-top: 40px;
  margin-bottom: 20%;
}

ngb-carousel:focus,
ngb-carousel *:focus {
  outline: none !important;
}

.btn-block {
  max-width: 95%;
  margin: auto;
  border-radius: 0px;
  padding: 0%;
  margin-bottom: 5px;
  background-color: var(--verde-oscuro);
  border: 0px;
  margin-top: 5px;
}

.btn-secondary {
  background-color: var(--verde-claro);
}

.precio {
  position: absolute;
  z-index: 1000;
  left: 65%;
  top: 3%;
  background-color: var(--precios);
  border-radius: 20px;
  padding: 0% 5%;
  color: white;
  text-align: center;
}

.precio>p {
  margin-bottom: 0.5rem;
  margin-top: -0.7rem;
}

.precio>span {
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  max-width: 65%;
  color: var(--titulos);
}

h5 {
  color: white;
}

.lugar {
  margin-left: 15%;
  color: gray;
}

.btn-primary {
  z-index: 1000;
}

.slider-caption>* {
  text-align: left;
  margin-left: 10%;
}

footer {
  position: fixed
}

.form {
  text-align: center
}

.form img {
  margin: auto;
  max-width: 50%;
}

.form h4{
  text-align: left;
  margin-left: 15%;
}

.form h5 {
  max-width: 80%;
  text-align: left;
  margin-left: 15%;
}

.container{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 215px;
}