<app-layout>

  <div id="form" class="form" *ngIf="items.length >= 1">
    <img class="img-responsive center" [src]="items[itemSelected].foto" alt="">
    <h4>Deseamos que tu experiencia sea la mejor</h4>
    <h5>Un asesor se pondrá en contacto contigo</h5>
  </div>

<!-- form goes here -->
<form (ngSubmit)="processForm()">

  <!-- name -->
  <div class="field">
    <input type="text" name="name" class="input" placeholder="NOMBRE Y APELLIDO" [(ngModel)]="name">
  </div>

  <!-- email -->
  <div class="field">
    <input type="email" name="email" class="input" placeholder="EMAIL" [(ngModel)]="email">
  </div>

  <!-- phone -->
  <div class="field">
      <input type="text" name="phone" class="input" placeholder="TELÉFONO" [(ngModel)]="phone">
    </div>
  <!-- city -->
  <div class="field">
      <input type="text" name="city" class="input" placeholder="CIUDAD" [(ngModel)]="city">
    </div>
<p>Como te gustaria que nos comuniquemos</p>
<div class="row">
  <button type="submit" class="col-6 button is-danger is-large"><i class="fab fa-whatsapp-square"></i></button>
  <button type="submit" class="col-6 button is-danger is-large"><i class="fas fa-phone-square"></i></button>
</div>

</form>

</app-layout>