.ng-untouched{
    text-align: center;
    width: 75%;
    margin: auto;
}

.input{
    width: 100%;
    margin-bottom: 5px;
    background-color: gray;
    color: white;
    text-align: left;
    box-shadow: none;
}

input::placeholder{
    color: white
}

p{
    color: white
}

form{
    max-width: 70%;
    margin: auto;
}

.form {
    text-align: center
  }
  
  .form img {
    margin: auto;
    max-width: 50%;
  }
  
  .form h4{
    text-align: left;
    margin-left: 15%;
  }
  
  .form h5 {
    max-width: 80%;
    text-align: left;
    margin-left: 15%;
  }
