<footer [ngClass]="{transparent:gold}">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <a class="col-md-4" href="whatsapp://send?phone=593989542435"><i class="fab fa-whatsapp"></i> <br> <span>+593 98 954 2435</span></a>
        <a class="col-md-4" href="tel:+593-04-256-3102"><i class="fas fa-phone"></i><br><span>+593 (04) 256-3102</span></a>
        <a class="col-md-4" href="mailto:info@tripandtrip.ec"><i class="fas fa-envelope"></i><br><span>info@tripandtrip.ec</span></a>    </div>
      </div>
    <div class="social-contact col-md-4">
        <div class="social"> <a href="https://www.facebook.com/tripandtrip.ec/" target="_blank"> <i class="fab fa-facebook-f"></i> </a> </div>
        <div class="social"> <a href="https://www.instagram.com/trip_and_trip/" target="_blank"></a> <i class="fab fa-instagram"></i> </div>
      <span>Mantente al dia en nuestras redes sociales</span>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-5"> <p>Encuentranos en</p> </div>
        <div class="col-7"> 
            <p>Principal: Av. 9 de Octubre y Cordova (Edificio M.U.)</p>
            <p>Sucursal: Hotel Sheraton (frente al mall del sol)</p> 
      </div>
      </div>
    </div>
  </div>  <hr />
</footer>