.col-4>i {
  font-size: 1.8em
}

footer {
  bottom: 0;
  max-height: 165px;
  width: 100%;
  background-color: #16030d;
  padding-top: 5%;
  padding-bottom: 125%;
  max-width: 100%
}

footer a{
  text-align: center
}

.container{
  height: auto !important;
}

.transparent{
  margin-top: 90vh;
  z-index: -200;
}

.social {
  border-radius: 50%;
  background-color: white
}

.social i{
  color: black;
}

.social{
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  margin-right: 10px;
  display: inline-block;
}

.social-contact{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.col-xs-4{
  margin-bottom: 25px;
  margin-left: 10px;
}

.social-contact span{
  display: block;
  font-size: 1em;
}

footer *{
  padding: 0;
  max-width: 100%;
}

footer > .row{
  margin: 0;
  margin-left: 20px;
}

.col-xs-4 i{
  font-size: 1.3em
}

footer > .row > .col-md-4 > .row{
  margin: auto
}

span{
  font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
footer > .row{
  margin: 0 10%;
}

a{
  text-align: center
}


.social-contact{
  text-align: center;
}


.social-contact span{
  clear: both;
  display: inherit;
  font-size: 1em;
}

footer{
  padding-bottom: 10%
}

.row .col-md-4 a{
  font-size: 1.3rem
}

span{
  font-size: 0.9em;
}

}