<footer>
<div class="container">
  <div class="text-center center-block">
    <div class="row" [ngStyle]="{'font-size': '0.5em'}">
        <a class="col-4" href="https://www.facebook.com/bootsnipp"><i class="fab fa-whatsapp"></i> <br> <span>0982868575</span></a>
        <a class="col-4" href="https://plus.google.com/+Bootsnipp-page"><i class="fas fa-phone"></i><br><span>0982868575</span></a>
        <a class="col-4" href="mailto:bootsnipp@gmail.com"><i class="fas fa-envelope"></i><br><span>mgarofalo.andres19@gmail.com</span></a>
    </div>
    <div class="row" [ngStyle]="{'font-size': '1.5em'}">
        <a class="col-6" href="https://www.facebook.com/bootsnipp"><i class="fab fa-facebook-square"></i></a>
        <a class="col-6" href="https://twitter.com/bootsnipp"><i class="fab fa-instagram"></i></a>
    </div>
    <p>Mantente al dia de nuestras redes sociales</p>
  </div>
  <hr />
</div>
</footer>