<footer [ngClass]="{transparent:gold}">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <a class="col-4" href="https://www.facebook.com/bootsnipp"><i class="fab fa-whatsapp"></i> <br> <span>+593 98 954 2435</span></a>
        <a class="col-4" href="https://plus.google.com/+Bootsnipp-page"><i class="fas fa-phone"></i><br><span>(04) 370-7030</span></a>
        <a class="col-4" href="mailto:info@tripandtrip.ec"><i class="fas fa-envelope"></i><br><span>info@tripandtrip.ec</span></a>    </div>
      </div>
    <div class="social-contact col-4">
        <div class="social"> <i class="fab fa-facebook-f"></i></div>
        <div class="social"> <i class="fab fa-instagram"></i> </div>
      <span>Mantente al dia en nuestras redes sociales</span>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-5"> <p>Encuentranos en</p> </div>
        <div class="col-7"> 
            <p>Principal: Av. 9 de Octubre y Cordova (Edificio M.U.)</p>
            <p>Sucursal: Hotel Sheraton (frente al mall del sol)</p> 
      </div>
      </div>
    </div>
  </div>  <hr />
</footer>