.row {
  margin: 0
}

.header-section div {
  color: white;
  text-align: center;
}

ngb-carousel {
  margin-top: 40px;
  margin-bottom: 20%;
}

ngb-carousel:focus, ngb-carousel *:focus {
  outline: none !important;
}

.precio {
  position: absolute;
  z-index: 1000;
  left: 65%;
  top: 3%;
  background-color: var(--precios);
  border-radius: 20px;
  padding: 0% 5%;
  color: white;
  text-align: center;
}

.precio>p {
  margin-bottom: 0.5rem;
  margin-top: -0.7rem;
}

.precio>span {
  font-size: 2em;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  max-width: 65%;
  color: var(--titulos);
}

h5 {
  color: white;
  font-size: 1em
}

.lugar {
  margin-left: 15%;
  color: gray;
}

.btn-primary {
  z-index: 1000;
}

.slider-caption>* {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  position: fixed
}

.form {
  text-align: center
}

.form img {
  margin: auto;
  max-width: 50%;
}

.form h4 {
  text-align: left;
  margin-left: 15%;
}

.form h5 {
  max-width: 80%;
  text-align: left;
  margin-left: 15%;
}

.container {
  padding-left: 0;
  padding-right: 0;
  /* margin-bottom: 215px;*/
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.aditamento {
  position: absolute;
  max-width: 100%;
  height: auto;
  object-fit: unset;
  -o-object-fit: unset;
  top: 32%;
  height: 100px;
}

.slider-caption {
  height: 152px;
  margin-top: 6%;
}

.boletos {
  width: 42%;
  position: absolute;
  top: 7%;
  right: 5%;
}

.boletos img {
  height: auto;
  width: 100%;
}

.boletos span {
  position: absolute;
  top: 50%;
  left: 13%;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
}

.ubicacion{
  text-align: left
}

.ubicacion h4{
  color: white;
  font-size: 1.2rem
}

ngb-carousel .boletos{
  right: -4%;
  top: 5%
}

.aditamento_destino{
  top: 41%
}

.precio_destino{
  top: 17%
}

.display{
  display: inline;
}

.notDisplay{
  display: none
}

.carousel-caption{
  z-index: 0;
}

ngb-carousel{
  z-index: 0;
}


@media only screen and (min-width: 768px) {
  .container > .row{
    width: 100%;
    height: 90vh;
  }

  .row, .header-section .img-responsive{
    height: 100% !important;
  }

  h2{
    font-size: 3rem
  }

  .boletos{
    max-width: 260px;
    top: 7%;
    left: 70%;
    font-size: 1.5em;
  }

  ngb-carousel .boletos{
    display: none;
  }

  .foto{
    border-radius: 0%;
    height: 100%;
  }

  .aditamento_destino{
    max-width: 30%;
  }

  .slider-caption{
    position: absolute;
    z-index: 1000;
    top: 50%;
    background: var(--fondo-slider);
    width: 30%;
    padding: 2%;
  }

  .header-section{
    width: 100%;
    height: 98vh;
  }

  .foto{
    height: 510px;
    object-fit: cover;
  }

  .slider-caption{
    height: auto;
    z-index: 1;
    padding-bottom: 12%;
    top: 30%;
  }

  .btn-primary, .btn-secondary{
    width: 28%;
    left: 1%;
    float: left;
    z-index: 2000000;
    position: absolute;
  }

  .btn-primary{
    top: 83%
  }

  .btn-secondary{
    top: 90%
  }

  .container{
    display: inline;
  }

  ngb-carousel{
    margin-bottom: 5%
  }

  .aditamento{display: none}

  .precio{
    right: 2%;
    left: auto;
    font-weight: bold;
  }

  .img-responsive{
    object-fit: cover
  }

  .carousel-caption{
    bottom: 90px;
  }

  .down{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 85px;
    font-size: 2em
  }

  .carousel-caption h2{
    font-size: 4rem
  }



}