<app-layout>
  <div class="container">
    <div class="row">

      <div class="col-12 header-section" *ngIf="!form">

        <img src="/assets/img/active-adrenaline-adventure-web.gif" alt="test" class="img-responsive">
        <div class="carousel-caption">
          <h2>{{titulo}}</h2>
        </div>
        <div>
          <i class="toDown fas fa-caret-down"></i>
        </div>
      </div>
      <div class="boletos">
        <img src="src/assets/icons/comprar boletos-15.png" alt="">
        <span>Comprar boletos</span>
      </div>
    </div>
    <img src="src/assets/icons/comprar boletos-15.png" alt="">
    <ngb-carousel *ngIf="items.length >= 1 && !form">

      <ng-template ngbSlide *ngFor="let item of items">
        <a href="/{{titulo}}/{{item.id}}/contacto">
          <div class="boletos">
            <span>Comprar boletos</span>
          </div>
        </a>
        <div class="precio"><span>${{item.precio/12 | number : '1.0-0'}}</span>
          <p>12 cuotas</p>
        </div>
        <img class="aditamento" src="/assets/icons/interface-15.png" alt="">
        <img [src]="item.foto" alt={{item.alt}}>
        <div class="slider-caption">
          <h4>{{item.titulo}}</h4>
          <h5>{{item.descripcion_corta}}</h5>
          <div class="lugar"><i class="fas fa-hourglass-start"></i><span> {{item.duracion}}</span></div>
          <div class="lugar"><i class="fas fa-map-marker-alt"></i><span> {{item.lugar}}</span></div>
        </div>
        <a class="btn btn-primary btn-lg btn-block" href="/{{titulo}}/{{item.id}}">Mas info</a>
        <a href="/{{titulo}}/{{item.id}}/contacto" class="btn btn-secondary btn-lg btn-block">Quiero viajar</a>
      </ng-template>
    </ngb-carousel>
  </div>
</app-layout>