<app-layout>

  <div class="container">
    <div class="row">

      <div class="col-12 header-section" *ngIf="!destinos">

        <img src="/assets/img/active-adrenaline-adventure-web.gif" alt="test" class="img-responsive">
        <div class="carousel-caption">
          <h2>{{titulo}}</h2>
        </div>
        <div class="down">
          <i class="toDown fas fa-caret-down"></i>
        </div>
      </div>
      <div *ngIf="destinos" class="boletos">
        <img src="src/assets/icons/comprar boletos-15.png" alt="">
        <span>Comprar boletos</span>
      </div>
    </div>
    <ngb-carousel *ngIf="items.length >= 1"
        (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
      <ng-template ngbSlide  class="swipe" *ngFor="let item of items" >
        <div *ngIf="destinos" class="ubicacion">
          <h3>{{item.ubicacion}}</h3>
          <h4>{{item.sub_ubicacion}}</h4>
        </div>
        <a *ngIf="destinos" href="/{{titulo}}/{{item.id}}/contacto">
          <div class="boletos">
            <img src="src/assets/icons/comprar boletos-15.png" alt="">
            <span>Comprar boletos</span>
          </div>
        </a>
          <div [ngClass]="{precio_destino:destinos}" class="precio"><span>${{item.precio/12 | number : '1.0-0'}}</span>
            <p>12 cuotas</p>
          </div>
          <img [ngClass]="{aditamento_destino:destinos}" class="aditamento" src="/assets/icons/interface-15.png" alt="">
        <img class="foto" [src]="item.foto" alt={{item.alt}}>
        <div class="slider-caption">
          <h4>{{item.titulo}}</h4>
          <h5>{{item.descripcion_corta}}</h5>
          <div class="lugar"><i class="fas fa-hourglass-start"></i><span> {{item.duracion}}</span></div>
          <div class="lugar"><i class="fas fa-map-marker-alt"></i><span> {{item.lugar}}</span></div>
        </div>
        <a class="btn btn-primary btn-lg btn-block" href="/{{titulo}}/{{item.id}}">Mas info</a>
        <a href="/{{titulo}}/{{item.id}}/contacto" class="btn btn-secondary btn-lg btn-block">Quiero viajar</a>
      </ng-template>
    </ngb-carousel>
  </div>
</app-layout>