

a{
    color: white;
    background-size: cover
}

a div{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    text-align: center;
    position: relative;
    
}

a h5{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.Eventos, .Destinos{
    height: 50%;
}

.Promociones{
    background-image: url('/assets/img/promociones.gif');
    height: 25%;
    position: relative;
    margin-right: 0;
    /*height: 20%;*/
}
.Destinos{
    background-image: url('/assets/img/DESTINOS.gif');
}
.Eventos{
    background-image: url('/assets/img/EVENTOS.gif');
}
.LoveTrip{
    background-image: url('/assets/img/love-trip.gif')
}

.News{
    background-image: url('/assets/img/NOTICIAS.gif');
    padding: 0;
}

.menuPrincipal, .menuPrincipalDesktop{
    height: 88.5vh;
}

.menuPrincipal div, .menuPrincipalDesktop div{
    background-size: 100% auto;
    width: 100%;
}

/*h5::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    z-index: -1;
}*/

.GoldTrip{
    
    background-image: url(/assets/img/GOLD-TRIP.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    padding: 0;
}

div{
    color: white;
    font-size: 15px;
}

a:focus:hover > div{
    background: transparent;
}

.menuPrincipalDesktop{
    display: none;
}

.menuPrincipal{
    display: block;
}

@media only screen and (min-width: 768px) {

    .menuPrincipal{
        display: none;
    }

    .menuPrincipalDesktop{
        display: block
    }

    .menuPrincipalDesktop > .row{
        height: 100%;
    }

    .menuPrincipalDesktop > .row > div{
        padding: 0 !important;
    }

    .menuPrincipalDesktop > .row{
        margin: auto;
    }

    .Eventos, .Destinos{
        padding: 0
    }

    .GoldTrip{
        position: absolute;
        height: 100%;
    }

}