<div class="menuPrincipal">
  <a href="/promociones" class="row Promociones">
    <div>
      <h5>PROMOCIONES</h5>
    </div>
  </a>
  <div class="row" [ngStyle]="{'height':'45%', 'margin':0}">
    <div class="col-7" [ngStyle]="{'padding':0}">
        <a href="/eventos" class="row Eventos">
          <div>
            <h5>EVENTOS</h5>
          </div>
        </a>
        <a href="/destinos" class="row Destinos">
          <div>
            <h5>DESTINOS</h5>
          </div>
        </a>
    </div>
    <a href="/gold-trip" class="col-5 GoldTrip">
      <div>
        <h5>GOLD TRIP</h5>
      </div>
    </a>
  </div>
  <div class="row" [ngStyle]="{'height': '30%', 'margin-left': 0}">
      <a href="/love-trip" class="col-8 LoveTrip" [ngStyle]="{'padding':0}">
        <div>
          <h5>LOVE TRIP</h5>
        </div>
      </a>
      <a href="/news" class="col-4 News">
        <div>
          <h5>NEWS</h5>
        </div>
      </a>
  </div>
</div>
