.mb-5{
    margin-bottom: 0 !important;
}

.navbar-brand{
    margin: auto;
}

.bg-dark{
    background-color: var(--fondo-general) !important
}

.navbar-toggler{
    position: absolute;
}

.close{
    left: 9%;
    font-size: 3em;
}