<nav class="navbar navbar-dark bg-dark mb-5">
  <button *ngIf="status == 'left'" (click)="showMenu()" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button *ngIf="status == 'right'" type="button" (click)="showMenu()" class="close navbar-toggler" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <a class="navbar-brand" href="/">
    <img src="/assets/img/logo.png" alt="Trip and Trip">
  </a>
</nav>
<div (click)="changePage()" id="menu" [@slide]="status">
<app-menu></app-menu>
</div>