.modal-body input {
	width: 100%;
	border-radius: 5px;
	color: black;
}

.items {
	display: block;
	margin-bottom: 4px;
	background: transparent;
	border: 1px solid var(--amarillo-claro);
	color: var(--amarillo-oscuro);
}

.searcher {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 19%;
	width: 100%;
	background-color: var(--amarillo-oscuro);
	padding: 10px;
}

img.search-img {
	float: left;
	margin-right: 8px;
	margin-top: 5px;
	vertical-align: middle;
}

.searcher h4 {
	margin-bottom: 8px;
}

.searcher p {
	margin-left: 10%;
	margin-top: -10px;
}

ul{
	height: 150px;
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	.searcher {
		bottom: 0;
		top: auto;
		right: auto;
		background-color: rgba(128,100,21, 0.6);
		width: 28%;
		left: 5%;
		
	}

	.searcher h4{
		float: left;
		border-bottom: 1px solid white;
		padding-bottom: 8px;
		margin-bottom: 5px;
	}

	.searcher p{
		display: inline-block;
    margin-left: 7%;
    margin-bottom: 0;
	}


}