app-menu {
	height: auto !important;
}

.container {
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	top: 100%;
}

i {
	margin: 15px;
}


a {
	color: white;
}

#menu .navbar-brand {
	position: relative;
	margin: auto;
	top: 0;
	left: 0;
}

#menu {
	max-height: 100vh;
}

.navbar {
	background: var(--fondo-general);
	height: 11.5vh;
}

.navbar-brand {
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 100;
}

.img-header {
	position: absolute;
	height: 100vh;
	max-height: 100vh;
	object-fit: cover;
}

.pequeno {
	position: absolute;
	z-index: 1000;
	bottom: 0;
	left: 5%;
	background-color: rgba(0, 0, 0, 0.6);
	width: 45%;
	margin: auto;
	text-align: center;
	height: 60px;
	border: none;
}

.boletos {
	position: absolute;
	bottom: 0;
	width: 40%;
	right: 5%;
}

.boletos img {
	width: 100%;
}

.home_footer {
	position: absolute;
	width: 100%;
	margin-top: 100vh;
}

@media only screen and (min-width: 768px) {
	.searcher {
		width: 26%;
		bottom: 0;
		top: auto;
		left: 10%;
		right: auto;
	}
	.pequeno {
		width: 26%;
		left: 0;
		right: 0;
	}
	.container {
		max-width: none;
	}
}