
 <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" alt="logo"></a>
<img class="img-header" src="/assets/img/mahir-uysal-303105-unsplash.gif" alt="">
<div class="searcher"><h4><i class="fas fa-search"></i>QUE ESTAS BUSCANDO</h4></div>
<button class="pequeno" [ngx-scroll-to]="'#menu'">CATEGORIAS<div>
  <i class="toDown fas fa-caret-down"></i>
</div></button>
<div>
<app-layout id="menu">
  <div class="container">
        <app-menu></app-menu>
      </div>
      </app-layout>
    </div>