app-menu{
    height: 80vh !important;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.img-header{
    width: 100%;
}

i{
    margin: 15px;
}

.searcher{
    position: absolute;
    top: 80%;
    width: 90%;
background-color: rgba(130,130,0,0.6);
margin: auto;
left: 0;
right: 0;
}

a{
    color: white;
}

.navbar-brand{
    position: absolute;
    top: 5%;
    left: 5%;
}

.img-header{
    height: 100vh;
object-fit: cover;
}

.pequeno{
    position: absolute;
z-index: 1000;
top: 91%;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.3);
width: 90%;
margin: auto;
text-align: center;
height: 60px;
border: none;
}