app-menu{
    height: 80vh !important;
}

.container{
    padding-left: 0;
    padding-right: 0;
    position: absolute;
	top: 110%;
}

.img-header{
    width: 100%;
}

i{
    margin: 15px;
}

.searcher{
    position: absolute;
    width: 90%;
background-color: rgba(130,130,0,0.6);
margin: auto;
left: 0;
right: 0;
bottom: 10%;
}

a{
    color: white;
}

#menu  .navbar-brand{
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
}

.navbar{
    background: var(--fondo-general)
}

.navbar-brand{
    position: absolute;
    top: 5%;
    left: 5%;
}

.img-header{
    height: 100vh;
object-fit: cover;
}

.pequeno{
    position: absolute;
z-index: 1000;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.3);
width: 90%;
margin: auto;
text-align: center;
height: 60px;
border: none;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	padding: 9px 10px 9px 32px;
	width: 55px;
	border: none;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
    background-color: #fff;
    	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 85%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

#demo-2 > input[type=search]:focus + #demo-2 > h4 { display: none !important; }

#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

#demo-2 h4{
    display: initial !important;
    transition: .2s display;
}