
<!--<img src="/assets/animations/gif de carga trip.gif" alt="Trip and trip"> -->
<a class="navbar-brand home-logo" href="#" *ngIf="elements.logo.length > 0"><img src="/assets/icons/{{elements.logo[1]}}" alt="{{elements.logo[0]}}"></a>
<!--<img class="img-header" src="/assets/img/mahir-xuysal-303105-unsplash.gif" alt="">-->

<video playsinline class="img-header video-header" autoplay="autoplay" *ngIf="elements.background_home.length > 0" loop poster="/assets/img/mahir-uysal-303105-unsplash.gif">
  <source src="/assets/{{elements.background_home[1]}}" type="video/mp4">
    <app-loading-spinner></app-loading-spinner>
</video>

<img class="img-header image-header" src="/assets/img/mahir-uysal-303105-unsplash.gif" alt="{{elements.background_home[0]}}">


<app-searcher></app-searcher>
<button *ngIf="!showed" (click)="showMenu()" class="pequeno">CATEGORIAS<div>
    <i class="toDown fas fa-caret-down"></i>
  </div></button>
<div class="boletos" *ngIf="elements.despegar.length > 0"> 
 <a href="{{elements.despegar[1]}}"> <img src="/assets/icons/{{elements.despegar[2]}}" alt="{{elements.despegar[0]}}"></a>
</div>
<a href="{{elements.despegar[1]}}" *ngIf="elements.despegar.length > 0">
  <!--<div class="ofertas"> <div>Ofertas</div> <h3>BOLETOS Y HOSPEDAJE AHORA</h3></div>-->
  <img class="ofertas" src="/assets/icons/{{elements.despegar[3]}}" alt="{{elements.despegar[0]}}">
</a>
<div>

  <div (click)="showMenu()" *ngIf="showed" id="menu" class="container" [@slide]="status">
    <nav class="navbar">
      <a class="navbar-brand" href="/">
        <img src="/assets/icons/logo.png" alt="Trip and Trip">
      </a>
      <i class="toDown fas fa-caret-down"></i>
    </nav>
    <app-menu></app-menu>
  </div>
  <div class="home_footer">
    <app-footer></app-footer>
  </div>
</div>

