h3{
    margin-left: 5%
}

.container{
    margin: 0 10%;
    width: 80%;
}

.container{
    color: var(--amarillo-oscuro)
}

.container img{
    width: 100%;
}

.container:first-of-type{
    margin-top: 15%
}

h3{
    display: inline-block;
    /* text-decoration: underline; */
    border-bottom: 1px solid var(--amarillo-claro);
}

.line{
    width: 30px;
    height: 47px;
    border-bottom: 1px solid var(--amarillo-claro);
    position: absolute;
    top: 54px;
    }

share-buttons{
    display: none
}

    @media only screen and (min-width: 768px) {
    
        .line{
            width: 95px;
            top: 94px;
        }

        h3{
            font-size: 2.5rem;
        }
    
    }